.isloading .landing,
.isloading .about,
.isloading .ncontainer {
	visibility: hidden
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: fixed;
	z-index: 200;
	width: 100vw;
	background-color: #090807;
	color: #faf7ff;
	pointer-events: none
}

.container {
	position: relative;
	width: fit-content;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden
}

.line {
	width: fit-content;
	padding-inline: 1em;
	height: 90vh;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.line span {
	display: flex;
	width: fit-content;
	font-family: var(--font-b-stem);
	font-size: 25vw
}

span:nth-child(9) {
	color: #f4bf3c
}

.tricks {
	display: block;
	line-height: 1;
	font-family: var(--font-sb-roslindale);
	color: var(--yellow-color);
	font-weight: 500;
	padding: .2rem 0rem .2rem .7rem;
	font-size: calc(30px + (60 - 30) * ((100vw - 282px) / (1600 - 282)))
}

html {
	box-sizing: border-box;
	font-size: 100%
}

*,
*:after,
*:before {
	box-sizing: inherit
}

body {
	margin: 5;
	padding: 0
}

h1,
h2,
h3,
p {
	margin: 0
}

a,
a:visited {
	text-decoration: none;
	color: #f0edee
}

@font-face {
	font-family: roslindale-semibold;
	src: url(/assets/Roslindale-DisplayCondensedSemiBold-Edu-9ec4670d.woff2)
}

@font-face {
	font-family: roslindale-regular;
	src: url(/assets/Roslindale-DeckNarrowRegular-Edu-89841917.woff2)
}

@font-face {
	font-family: stem-light;
	src: url(/assets/Stem-Light-66cb1027.woff)
}

@font-face {
	font-family: stem-bold;
	src: url(/assets/Stem-Bold-8ff7c0d9.woff)
}

@font-face {
	font-family: stem-regular;
	src: url(/assets/Stem-Regular-8852f95d.woff)
}

:root {
	--font-sb-roslindale: roslindale-semibold;
	--font-r-roslindale: roslindale-regular;
	--font-l-stem: stem-light;
	--font-b-stem: stem-bold;
	--font-r-stem: stem-regular;
	--yellow-color: #f4bf3c;
	--menu-f-color: #201b1c;
	--white-f-color: #f5f5f5;
	--l-purple: #ede2e9;
	--selection: #dddbd7;
	--showreel: #030303;
	--highlight: #a39276;
	--lapolo-textcolor: #e4e9ee;
	--lapolo-bgcolor: #7890a8;
	--lapolo-slide1: #93a6b9;
	--lapolo-slide2: #869bb1;
	--lapolo-slide3: #7890a8;
	--hex-textcolor: #1f221d;
	--hex-bgcolor: #99a98f;
	--hex-slide1: #adbaa5;
	--hex-slide2: #a3b29a;
	--hex-slide3: #99a98f;
	--wedding-textcolor: #664f42;
	--wedding-bgcolor: #ffc6a5;
	--wedding-slide1: #ffd1b7;
	--wedding-slide2: #ffccae;
	--wedding-slide3: #ffc6a5;
	--border-radius: 0px
}

.landing-header {
	color: #faf7ff;
	display: flex;
	width: 90vw;
	height: max-content;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 0
}

.icon {
	width: 1.3rem;
	padding: 1px;
	max-height: 1.3rem;
	margin: 5px 1px 0;
	cursor: pointer;
	transition: transform 1s ease
}

.icon:hover {
	transform: rotate(.5turn)
}

.landing-header-title {
	display: grid;
	place-content: center;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-family: var(--font-l-stem)
}

.landing-header-title h1 {
	font-size: 1.2rem
}

.landing-header-title>h1:after,
#about>h1:after {
	content: ".";
	color: var(--yellow-color)
}

responsive-video-background {
	margin-top: 1rem;
	margin-inline: 2.5%;
	padding: 1.25rem;
	color: #fff;
	border-radius: 1.25rem;
	height: 80vh
}

.demo1 {
	width: 95%
}

.landing-video-content {
	margin-inline: 1.5%
}

.wrap-overlay-text {
	width: inherit;
	height: 70vh;
	margin: auto;
	display: grid;
	place-content: center
}

.overlay-text {
	width: max-content;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center
}

.wrap-text {
	display: flex;
	font-size: calc(2.5rem + 2.2vw);
	flex-wrap: wrap;
	font-family: var(--font-sb-roslindale);
	font-weight: 500
}

.wrap-text .h2 {
	display: block;
	overflow: hidden
}

.wrap-text .text {
	padding: 0rem .4rem;
	display: block;
	text-shadow: rgba(0, 0, 0, .4) 0px 0px 20px
}

#mobile-view {
	display: none
}

@media screen and (max-width: 450px) {
	responsive-video-background {
		margin-top: .5rem;
		margin-inline: 2.5%;
		padding: .5rem 1.25rem 1.25rem;
		color: #fff;
		border-radius: 1.25rem;
		height: 78vh
	}

	#mobile-view {
		display: block
	}

	#desktop-view {
		display: none
	}

	.wrap-text {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		font-size: 3rem
	}

	.wrap-text-2 {
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 2.5rem
	}
}

@media screen and (max-width: 340px) {
	responsive-video-background {
		margin-top: .5rem;
		margin-inline: 2.5%;
		padding: .5rem 1.25rem 1.25rem;
		color: #fff;
		border-radius: 1.25rem;
		height: 78vh
	}

	.wrap-text {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		font-size: 2.7rem
	}

	.wrap-text-2 {
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 2.3rem
	}
}

.menu {
	cursor: pointer;
	z-index: 90;
	font-family: var(--font-l-stem);
	text-transform: uppercase;
	font-size: 1rem;
	border: 1px solid var(--yellow-color);
	color: var(--menu-f-color);
	background-color: var(--yellow-color);
	padding-top: .3rem;
	padding-bottom: .4rem;
	padding-inline: 1rem;
	border-radius: 20px;
	border: none;
	position: fixed;
	bottom: 3%;
	right: 3%
}

#close {
	display: none;
	padding-bottom: .4rem;
	background-color: var(--menu-f-color);
	color: var(--yellow-color)
}

.menuContent {
	width: min(30em, 90vw);
	max-height: min(630px, 95%);
	position: fixed;
	bottom: 2%;
	right: 1.5%;
	z-index: 5;
	border-radius: 10px;
	display: block;
	clip-path: circle(0% at 92% 92%)
}

.clip {
	width: min(30em, 90vw);
	max-height: min(630px, 95%);
	background: transparent;
	position: fixed;
	bottom: 2%;
	right: 1.5%;
	z-index: 85;
	display: flex;
	flex-direction: column;
	clip-path: circle(0% at 92% 92%);
	transition: clip-path .95s cubic-bezier(.645, .045, .0355, 1);
	cursor: pointer;
	border-radius: 10px
}

nav {
	display: grid;
	place-content: center;
	place-items: end;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem
}

ul li {
	list-style: none;
	overflow: hidden;
	position: relative;
	width: max-content
}

ul li a {
	font-size: clamp(1.9rem, 1.802rem + .4898vw, 2.2rem);
	line-height: 1;
	text-decoration: none;
	color: var(--menu-f-color);
	font-family: var(--font-l-stem);
	overflow: hidden;
	position: relative;
	width: max-content
}

.links {
	display: block
}

ul li:after {
	content: "";
	height: 30%;
	background-color: #a5a5a599;
	position: absolute;
	bottom: 0%;
	width: 100%;
	transform: translate(-101%);
	z-index: -1
}

ul li:hover:after {
	transform: translate(0);
	transition: transform .3s cubic-bezier(.445, .05, .55, .95)
}

ul li:nth-of-type(1) {
	margin-bottom: .7rem
}

ul li:nth-of-type(2) {
	margin-bottom: .7rem
}

ul li:nth-of-type(3) {
	margin-bottom: .6rem;
	padding-bottom: .2rem
}

.social-media {
	display: grid;
	height: 35%;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	margin-bottom: min(65px, 155%);
	font-family: var(--font-l-stem)
}

.social-media>span {
	overflow: hidden;
	color: var(--menu-f-color);
	display: grid;
	place-self: center;
	text-align: center;
	width: fit-content;
	padding: .2rem;
	margin: .2rem 0 1.2rem;
	font-size: clamp(1rem, 1.4653rem + .3265vw, 1.2rem);
	position: relative
}

.social-media span a {
	list-style: none;
	text-decoration: none;
	color: var(--menu-f-color);
	text-transform: uppercase;
	font-family: var(--font-l-stem)
}

.social-media>span:after {
	content: "";
	height: 40%;
	background-color: #a5a5a599;
	position: absolute;
	bottom: 0%;
	width: 100%;
	transform: translate(-101%)
}

.social-media>span:hover:after {
	transform: translate(0);
	transition: transform .3s cubic-bezier(.445, .05, .55, .95)
}

@media (max-width: 330px) {
	.menu {
		font-size: 1em
	}
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
	margin: 0
}

.landing {
	position: relative;
	min-height: 100vh;
	height: 100vh;
	min-width: 100%;
	overflow: hidden;
	padding-bottom: 5em;
	background-color: #212121
}

.landing-circle1,
.landing-circle2 {
	position: absolute
}

.landing-circle1 {
	top: -15%;
	left: 20%;
	width: 28vw;
	height: 200px;
	border-radius: 50%;
	z-index: 1;
	opacity: .35;
	filter: blur(90px);
	background-image: radial-gradient(circle, #9192ab, #999ab1, #a1a2b7, #aaabbe, #b2b3c4, #b4b5c6, #b5b6c7, #b7b8c9, #b3b4c6, #afb0c2, #abacbf, #a7a8bc)
}

.landing-circle2 {
	bottom: -40%;
	right: 5%;
	width: 60vw;
	height: 450px;
	border-radius: 50%;
	z-index: 1;
	opacity: .15;
	filter: blur(70px);
	background-image: radial-gradient(circle, #b05655, #b7615f, #bf6b6a, #c67674, #cd817f, #cf8381, #d18684, #d38886, #d18280, #cf7c7a, #cc7674, #ca706e)
}

.about {
	min-width: 100%;
	background-color: #090807;
	color: var(--white-f-color);
	position: relative;
	overflow-x: hidden
}

#about>h1 {
	font-family: var(--font-l-stem);
	text-align: center;
	padding-top: 1rem;
	padding-bottom: .3rem
}

.wrap-hello {
	position: relative
}

.hello svg {
	margin-top: 3.5em;
	position: absolute;
	top: 0%;
	left: 12%;
	width: calc(3.5rem + 7vw)
}

.about__title {
	position: relative;
	padding-top: 5.55rem;
	top: 0%;
	right: -25%;
	left: 30%;
	display: flex;
	width: fit-content;
	font-family: var(--font-b-stem);
	font-size: 10vw
}

.about__title span:nth-child(2):after {
	content: ".";
	color: var(--yellow-color)
}

.about__title span:nth-child(1) {
	margin-right: .2em
}

.changing-title {
	width: 85vw;
	margin: 1em auto 0;
	padding-bottom: 2em;
	line-height: 1.2;
	word-spacing: 5px;
	letter-spacing: .1em
}

.tricks {
	display: block;
	line-height: 1;
	font-family: var(--font-sb-roslindale);
	color: var(--yellow-color);
	font-weight: 500;
	padding: .2rem 0rem .2rem .7rem;
	font-size: calc(30px + 30 * (100vw - 282px) / 1318)
}

@media screen and (max-width: 281px) {
	.tricks {
		font-size: 27px
	}
}

.about-description {
	color: var(--white-f-color);
	width: max(75vw, 85%);
	margin: 1.5em auto 0;
	padding-inline: .5rem
}

.about-description p {
	font-family: var(--font-r-stem);
	font-size: 1.1rem;
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.3;
	opacity: 70%
}

.skills-section {
	color: var(--white-f-color);
	width: max(55vw, 85%);
	margin: 2em auto;
	padding-bottom: 4em;
	padding-left: .3rem
}

.skill-title {
	font-family: var(--font-r-stem);
	width: fit-content;
	letter-spacing: 1px;
	font-weight: 200;
	margin-bottom: 1.5em;
	cursor: pointer
}

.skill-title h1 {
	font-size: 1.5rem
}

#hr {
	display: block;
	height: 2px;
	background-color: var(--white-f-color)
}

.skills-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	opacity: 70%;
	padding-block: .5rem;
	padding-inline: .5rem
}

.skill-name {
	display: flex;
	flex-direction: row;
	font-family: var(--font-l-stem);
	border: 1px solid var(--white-f-color);
	font-size: 1rem;
	padding-inline: .8em;
	padding-block: .3em;
	margin: .5em .7em .5em .1em;
	border-radius: 20px;
	color: var(--white-f-color);
	display: inline-block
}

.reveal {
	overflow: hidden
}

.reveal-text1 {
	display: block
}
